h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Noto Sans TC', sans-serif;
}

header{
    width: 100%;
    box-sizing: border-box;
    background-color:#e2e2e2;
}
header nav img{
    width: 90px;
    height: 75px;
}

header li{
    margin: 0 9px;
}

footer{
    height: 100px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部*/
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#e2e2e2;
    text-align: center;
    max-height: 27px;
    margin:0;
}

footer p {
    margin-top: 0;
    margin-bottom: 0rem;
}
    


